extends  ../cmm/layout/template
block content
    div.report-root__container
        div.report-situation__container
            div.situation-box__container

        div.report-contents__container
            div.contents-box__container

                div.contents-option__container
                    div.option-calender__container
                    
                    div.option-search__container

                div.contents-section__container

            

        




