extends ../cmm/layout/admin 
block content
    div.pen-container#pen-container
        div.pen-major__container
            div.pen-major__header
                button(type="button" id="income_load" class="pen_changer") 수입 관리
                button(type="button" id="transfer_load" class="pen_changer") 이체 관리
                span  | 
                button(type="button" id="spending_load" class="pen_changer") 지출 관리
            div.pen-major__body#pen-major__body

    script(id="pen-major__body-table-template" type="text/x-handlebars-template").
        <div class="major-contents__section">
            <div class="major-contents__body">
                <h2>{{title}}</h2>
                <button id={{add_btn}}>등록하기</button>
                <table>
                    <th>이름</th><th>입력일</th><th>수정</th><th>삭제</th>
                    {{#each DB}}
                    <tr>
                        <td class="none-select" data-id={{ISMJ_NO}}>{{ISMJ_MN_NM}}</td>
                        <td>{{createdAt}}</td>
                        <td><button class="item-modify" item-type="S" mn-name="{{ISMJ_MN_NM}}" item-id="{{ISMJ_NO}}">수정하기</button></td>
                        <td><button class="item-delete" item-type="S" data-id="{{ISMJ_NO}}">삭제하기</button></td>
                    </tr>
                    {{/each}}
                </table> 
            </div>
            <div id="pen-major__modal-container-wrap">
            </div>
        </div>
        
    script(id="pen-spending__body-table-template" type="text/x-handlebars-template").
        <div id="spending__container">
            <h2>{{title}}</h2>
            <div id="speding-table__header">
                <button id={{add_btn}}>지출대분류 등록</button>
            </div>
            <table>
                <th style="text-align:left;">중분류 | 소분류</th><th>입력일</th><th>수정</th><th>삭제</th>
            </table> 
            <div id="speding-table__body">
                <div id="spending-tree-container"></div>
                <div id="spending-section-container"></div>
            </div>
            <div id="pen-major__modal-container-wrap">
            </div>
            <div id="pen-minor__modal-container-wrap">
            </div>
        </div>    

    script(id="pen-spending__section-body-container" type="text/x-handlebars-template").
        <table>
            {{#each this}}
                <tr>
                    <td>
                        {{createdAt}}
                    </td>
                    <td>
                        <button class="item-modify" item-type="{{ISMJ_TYPE}}" item-id="{{ISMJ_NO}}" mn-name="{{ISMJ_MN_NM}}" sb-name="{{ISMJ_MS_NM}}" >수정하기</button>
                    </td>
                    <td>
                        <button class="item-delete" item-type="{{ISMJ_TYPE}}" item-id="{{ISMJ_NO}}">삭제하기</button>
                    </td>
                    {{{TYPECHK this}}}
                </tr>
            {{/each}}
        </table> 

    script(id='pen-major__modal-container-template' type="text/x-handlebars-template").
        <div id="pen-major__modal-container" class="pen-major__modal-container">
            <div class="modal-wrap">
                <div class="modal-header">
                    <h3>{{title}}</h3>
                    <h4 id="modal-close">X</h4>
                </div>
                <form action="" method="post" id="pen-major__add-form">
                    <div class="modal-body">
                        <label> 대분류 이름
                            <input type="text" name="major_name" value="{{MAJOR_NAME}}" readonly>
                        </label>
                        <br>
                        <label> 중분류 이름
                            <input type="text" name="minor_name" value="{{MINOR_NAME}}" required>
                        </label>
                        <br>
                        <input type="hidden" name="item_no" value="{{ITEM_NO}}" readonly>
                        <input type="hidden" name="type"    value="{{type}}"    readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="pen-major__add-btn">{{title}}</button>
                        <button type="reset">취소하기</button>
                    </div>
                </form>
            </div>         
        </div>    

    script(id="pen-minor_modal-container_template" type="text/x-handlebars-template").
        <div class="minor__modal-container" id="minor-modal">
            <div class="minor_modal-wrap">
                <div class="minor-modal_header">
                    <h3>등록하기</h3>
                    <h4 id="minor-modal-close">X</h4>
                </div>
                <div class="minor-modal_body">
                    <form id="minor-item-modal-form" method="post">
                        <label> 대분류 이름
                            <input type="text" id="minor-modal_major" name="major_name" value="{{MAJOR_NAME}}" readonly>
                        </label>
                        <br>
                        <label> 중분류 이름
                            <input type="text" id="minor-modal_minor" name="minor_name" value="{{MINOR_NAME}}" readonly>
                        </label>
                        <br>
                        <label> 소분류 이름
                            <input type="text" name="minor_sub_name" required>
                        </label>
                        <br>
                        <div class="minor-modal_footer">
                            <button type="button" id="sub_minor_submit">등록하기</button>
                            <button type="button" id="sub_minor_cancle">취소하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        
