extends ../cmm/layout/admin 
block content
    div.source-container
        div.soruce-section
            div.source-header
                button.src__add(type=button id="modal-btn") 추가하기
            div.source-body#main__body
                div#src-tree 
                div#src-console
                //- each src, index in srcs 
                //- //- - console.log(index, src)
                //- div
                //-     span= src.SRC_NAME
                //-     span= src.SRC_BANK
                //-     if src.SRC_CATEGORY === 1
                //-         span= '계좌'
                //-     else 
                //-         span= "카드"
                //-     span= src.SRC_MONEY
                //-     span= src['SDT_USER.USER_NM']
                //-     if src.IS_CREDIT === 0
                //-         span= '체크카드'
                //-     else 
                //-         span= '신용카드'
                //-     span= src.COMMENT
                //-     button(type="button") 수정하기 
                //-     button(type="button") 삭제하기 
        div#modal-container

    script(id="modal-major-add__partial" type="text/x-handlebars-template"). 
        <label class="body-label">별칭<br>
            (ex 공용통장, 적금통장)
            <input type="text" required="required" name="name" placeholder="중복금지!" value='{{info.SRC_NAME}}' id="src_name"/>
        </label>
        <label class="body-label">명의
            <select name="user_no" required="required" id="user_no">
            </select>
        </label>
        <label class="body-label">현금/계좌
            <label> 
                <input type="radio" required="required" name="mjcg" value="o" id="category_one"/>현금
            </label>
            <label> 
                <input type="radio" required="required" name="mjcg" value="c" id="category_two"/>계좌
            </label>
        </label>
        <span id="bank-name__container"></span>
        <label class="body-label">초기 금액
            <input type="text" required="required" name="money" value='{{info.SRC_MONEY}}' id="src_money"/>
        </label>
        <input type="hidden"  name="srcNo" value="{{info.SRC_NO}}" readonly>

    script(id="modal-minor-add__partial" type="text/x-handlebars-template").
        <label class="body-label">별칭<br>
            (ex 빨간카드, 파란카드)
            <input type="text" required="required" name="name" value='{{SRC_NAME}}' placeholder="중복금지!" id="src_name"/>
        </label>
        <label class="body-label">상위<br>
            <input type="text" readonly="readonly" name="cname" value='{{SRC_CNAME}}' id="src_cname"/>
        </label>
        <label class="body-label">명의
            <select name="user_no" required="required" id="user_no">
            </select>
        </label>
        <label class="body-label">신용카드/체크카드
            <label> 
                <input type="radio" required="required" name="is_credit" value="h" id="credit_one"/>체크카드
            </label>
            <label> 
                <input type="radio" required="required" name="is_credit" value="r" id="credit_two"/>신용카드
            </label>
        </label>    
                <input type="hidden" required="required" readonly="readonly" name="mjcg" value="a"/>

    script(id="src-modal-template" type="text/x-handlebars-template").
        <div class="soruce-add__modal" id="source-modals">
            <div class="modals-container">
                <div class="modal-header">
                    <h2>{{modalTitle}}</h2>
                    <h3 id="modal-close">X</h3>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="src-form">
                        {{#> subForm}}
                            <span style="color:red; font-weight:bold;">ERROR!</span>
                        {{/ subForm}}
                        <label class="body-label">메모
                            <input type="text" name="comment" id="comment" value='{{info.COMMENT}}'/>
                        </label>
                    </form>
                </div>
                <div class="modal-footer" id="modal-footer"></div>
            </div>
        </div>

    script(id="src-main__body" type="text/x-handlebars-template").
        {{#each this}}
            <div>
                <span>{{SRC_NAME}}</span>
                <span>{{SRC_BANK}}</span>
                <span>{{cgNameChk SRC_MJCG}}</span>
                <span>{{SRC_MONEY}}</span>
                <span>{{[SDT_USER.USER_NM]}}</span>
                <span>{{creditChk IS_CREDIT}}</span>
                <span>{{COMMNET}}</span>
                <button type="button" class="data-modify" data-no={{SRC_NO}}> 수정하기 </button>
                <button type="button" class="data-delete" data-no={{SRC_NO}}> 삭제하기 </button>
                {{{cgBtnChk this}}}
            </div>
        {{/each}}

