body {
    background-color: #fafafa;
    height: 100vh;
}
a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
    cursor: pointer;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}