doctype html
html
    head
    body
        h1 login!
        div
            h3 #{msg}
            form(action="login", method="post")
                span(style='margin-left: 8px') ID
                    input(type="text", name="id")
                br
                span PW
                    input(type="password", name="pw")
                br
                button(type="submit") 로그인
